on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  package:
    name: Package Extension
    runs-on: ubuntu-latest
    steps:
    - name: Setup Node.js environment
      uses: actions/setup-node@v3.7.0
      with:
        node-version: 20.5.1
    - name: Checkout repo
      uses: actions/checkout@v3.5.3
    - name: Build extension
      run: |
        npm install
        npm install --global @vscode/vsce
        ./package.sh
    - name: Upload extension
      if: github.event_name != 'pull_request'
      uses: actions/upload-artifact@v4
      with:
        path: ./dist/*
    - name: Print out files in out/
      run: du -ah ./out/
